*{
    box-sizing:content-box;
}

  body{
    background-image: url('Screenshot (3).jpg');
    background-repeat: no-repeat;
    background-position: 20px;
    background-size: 130%;
    margin:1px;
    padding:10px;
  }

 #main{
  width:200%;
  height:10vh;
  position:relative;
  }

  nav{
    width: 150px;
    border-radius: 10px;
    padding: 5px;
    margin: 50px;
    top: 10;
    left: 20;
    width: 160%;
    height:10px;
  }


.memu-space{
  width: 1px;
  height: auto;
  display: inline-block;
  margin: 5px;
  padding: 1px;
}

.b1{
  margin: 20px;
  padding: 3px;
  margin: 10px;
  display:inline-block;
  box-shadow: 3px 1px;
  width: 9%;
}


.b2{
  margin: 20px;
  padding: 3px;
  margin: 10px;
  display:inline-block;
  box-shadow: 3px 1px;
  width: 9%;
}

.b3{
  margin: 20px;
  padding: 3px;
  margin: 10px;
  display:inline-block;
  box-shadow: 3px 1px;
  width: 9%;
}
.b4{
  margin: 20px;
  padding: 3px;
  margin: 10px;
  display:inline-block;
  box-shadow: 3px 1px;
  width: 9%;
}
.b5{
  margin: 20px;
  padding: 3px;
  margin: 10px;
  display:inline-block;
  box-shadow: 3px 1px;
  width: 9%;
}
.b6{
  margin: 20px;
  padding: 3px;
  margin: 10px;
  display:inline-block;
  box-shadow: 3px 1px;
  width: 9%;
}
.b7{
  margin: 20px;
  padding: 3px;
  margin: 10px;
  display:inline-block;
  box-shadow: 3px 1px;
  width: 9%;
}
.b8{
  margin: 20px;
  padding: 3px;
  margin: 10px;
  display:inline-block;
  box-shadow: 3px 1px;
  width: 9%;
}
.b9{
  margin: 20px;
  padding: 3px;
  margin: 10px;
  display:inline-block;
  box-shadow: 3px 1px;
  width: 9%;
}
    


  
